language: go
matrix:
  include:
  - go: 1.11.x
    env: LATEST=true
  - go: tip
  allow_failures:
  - go: tip
branches:
  only:
  - master
cache:
  directories:
  - "$GOPATH/src"
  - "$GOPATH/pkg"
install:
- env GO111MODULE=on go install . ./cmd/...
- env GO111MODULE=off go get -u github.com/alecthomas/gometalinter
- env GO111MODULE=off go get -u github.com/mitchellh/gox
- env GO111MODULE=off gometalinter --install
- env GO111MODULE=off go get -u github.com/go-task/task/cmd/task
- go get -t ./...
script:
- export PATH=$PATH:$HOME/gopath/bin
- if [ "${LATEST}" = "true" ]; then env GO111MODULE=on task build; fi
deploy:
  provider: releases
  skip_cleanup: true
  file:
  - bin/outlaw
  - bin/outlaw_darwin_386
  - bin/outlaw_darwin_amd64
  - bin/outlaw_linux_386
  - bin/outlaw_linux_amd64
  - bin/cli_darwin_386
  - bin/cli_darwin_amd64
  - bin/cli_linux_386
  - bin/cli_linux_amd64
  api_key:
    secure: S/oDR2irRSSwRKfv63eNlvdK43QpRyfYeJE6XYUH7sOLY8oGvdo1zzOehfFzI+iJmj8uTG3cUnrt37I7E5iSixvAY7OanDwfgIDEFy2rNvbhvRHcRGZzoEO60MdfIzonum/W315u9JuN9TfcZbbnR6kn2QGgIu9Rg11wpjB17JSLPjH2LRuFOCc9u1RUlXDU9zAo2S+IKFDPm8f5wja1IBTxH5xmQPx55tBYn2y5oFpS8RQ9kvhrMDZ6znEtG2NU7fzBCbXYAiiFUdRjmG0P4Q3c1GwPmjS/HGyeA2vlQxtSQqXyr57RTMqjHg2tWoYDPzdcx1QinjVoVLA92V3EZXeqGw65pHU+gCs8AQaABSlA8UC4zGpevWIg45P6ZvWNC5ofvD87zijx/jtawqVjy8uBg6T3btfl4XD9t9WVkC0JevdlEgAwKrZPoAyfw9yh3ctZhi95K6lGPZG/WVR5JyhTv4R0v/w9j4hpp0UriZDaweu33RKrwygcpwUGPF+W4T7xObLPBCYXzF0xR1kQaTN7wCnmsDpoaPxFP5462n/Vs4KGTIACDiMMSANG20qYDigY9YqoYOdD2MXO95OkfZf2vw+UJ+KHsBnpPGmdwMCfnz/ZLa1/rXha99FroqXEwePMDjNqkcnOyYzHzwvR1DPN3UdQENAysuuXdaCkGbs=
  on:
    repo: andersnormal/outlaw
    tags: true
    condition: "$LATEST = true"
notifications:
  slack:
    rooms:
      secure: e2jQIOPxVwPYHiZTrzeFIr/JGtMGBLvSCVVXmn+ksY4w/wnivi25jIXwOlGCfqoIbN0rjHFXW1T3GbhkSv2zWRsesAOasHliC8Be4Ld3kUCQfJmrCiLhtf4FDYjOV+YVC1JJJTID1S2fGnlrV4HQwYchvjApdxd6sBDiKLqY5QDArvRwDMmVzn5DsgSvDkt2jyVURKN9qX5b6qUHx2eShqu9mwrwx22Ul3B5Mb3UT84DnThErThLV5WjLQ0DnQ49TwAmCpIdRNnRVI7Y4SXGIYpL4FOUO2xjRkvBSGRgRMMQwA/UFD40z3mWorHG6Xu92ewRZ03rPU8saDpQZ/TUN0dwYvxdUiRy7thm56xzqD2f2AsuwLNtQsuslUqQhIJnH4ZhgDS8KFXSNFytndreIbd5wUd5Qn6MzIuVyOKvayqlfmEtgMKC5dwh2H9M/d0ZlZlQX4lzohSk4RsMtCLukvFruYGcn5emN0imxVUTQ8VaTjcyxCaY7PLVpzhSs1GCmxfLu1GfPDv+42YIPMCTU1gR+sOMJofKcmIkCX9QnSikItBLx3VIR2Q1djT586suXw8kxqmTP6HWP06FG2cZmIvuQuynOYZfUvh1c681G7KVqXWhmNOadYPX0LOvvNEk6hYdJY9kMkfZUObIVbeh3CmYw1taQNUjLUYIq/SerMk=
