language: go
matrix:
  include:
  - go: 1.11.x
    env: LATEST=true
  - go: 1.10.x
  - go: tip
  allow_failures:
  - go: tip
branches:
  only:
  - master
cache:
  directories:
  - "$GOPATH/src"
  - "$GOPATH/pkg"
install:
- env GO111MODULE=on go install . ./cmd/...
- env GO111MODULE=off go get -u github.com/alecthomas/gometalinter
- env GO111MODULE=off gometalinter --install
- env GO111MODULE=off go get -u github.com/go-task/task/cmd/task
- go get -t ./...
script:
- export PATH=$PATH:$HOME/gopath/bin
- if [ "${LATEST}" = "true" ]; then env GO111MODULE=on task build; fi
notifications:
  slack:
    on_success: always
    rooms:
      secure: MP9xfCh/2dLz9niooepj2XNqvaHrWGLwgfNUp2n2u+L2XRO2wnk8/jtj/cfKIbwlj9ePAt5rmX/fgcN6izQC54vXvxRLjBpcQOt+mma85lVditGqbzNWKLWCZmiA8duCUnuIrdtm9ni8t2vhVhbD7K9oBkGnaOKgyPiBvRicpeK9BJ5e7y++G9zDJ2kGjF2IXeG06X5cRrKbURj7DR2Cm9c+wqXn20GOwNf1nVFYLq/D6h5A5v2SAfEe2t+xkYbkDdDKEiCe1yS2q0V5nIX/8mJ+Qmhdg2JqVcU+tQNJ5zzVopqFE+0xBv9o4OvVmQKTlf4rJ02ZA0W7SXBvWUbKzQJOkIMUqi53WE4+VfTdCI+YH0tiXCEfFMDEfe5zbdgEUpiBzlEXeuYkKIsaSPnmJjjEl/tP9KtFSevelnwAerxSvue3r6M0Qc+KYEa6C+mG/XBhSjVjh0BSchoHUJxOX0hHEvRkcGGU7kyrZLYG9ClxqhdVBT7qJ+FCaooy+C9F7vKt2sX87F4QyGbDDsu4MM6tpNeKPjUGy0kr1E7AZ8bRUbx03gtIMad8zMhB9ezFVkJMt6y/4oFvqtM/pVdXBdygB0bZBqQZ7kI2xrOpQVQyESCtIRJNait5Uc5kbwD7cKabP4CHnSOGNNsMhEwJnQkRmI8+zcDInDJCq3FhABY=
deploy:
  provider: releases
  skip_cleanup: true
  file:
  - bin/outlaw
  - bin/outlaw_darwin_386
  - bin/outlaw_darwin_amd64
  - bin/outlaw_linux_386
  - bin/outlaw_linux_amd64
  - bin/outlaw
  - bin/cli_darwin_386
  - bin/cli_darwin_amd64
  - bin/cli_linux_386
  - bin/cli_linux_amd64
  api_key:
    secure: S/oDR2irRSSwRKfv63eNlvdK43QpRyfYeJE6XYUH7sOLY8oGvdo1zzOehfFzI+iJmj8uTG3cUnrt37I7E5iSixvAY7OanDwfgIDEFy2rNvbhvRHcRGZzoEO60MdfIzonum/W315u9JuN9TfcZbbnR6kn2QGgIu9Rg11wpjB17JSLPjH2LRuFOCc9u1RUlXDU9zAo2S+IKFDPm8f5wja1IBTxH5xmQPx55tBYn2y5oFpS8RQ9kvhrMDZ6znEtG2NU7fzBCbXYAiiFUdRjmG0P4Q3c1GwPmjS/HGyeA2vlQxtSQqXyr57RTMqjHg2tWoYDPzdcx1QinjVoVLA92V3EZXeqGw65pHU+gCs8AQaABSlA8UC4zGpevWIg45P6ZvWNC5ofvD87zijx/jtawqVjy8uBg6T3btfl4XD9t9WVkC0JevdlEgAwKrZPoAyfw9yh3ctZhi95K6lGPZG/WVR5JyhTv4R0v/w9j4hpp0UriZDaweu33RKrwygcpwUGPF+W4T7xObLPBCYXzF0xR1kQaTN7wCnmsDpoaPxFP5462n/Vs4KGTIACDiMMSANG20qYDigY9YqoYOdD2MXO95OkfZf2vw+UJ+KHsBnpPGmdwMCfnz/ZLa1/rXha99FroqXEwePMDjNqkcnOyYzHzwvR1DPN3UdQENAysuuXdaCkGbs=
  on:
    repo: andersnormal/outlaw
    tags: true
    condition: "$LATEST = true"
